Flask==3.0.3
Flask-Cors==4.0.0
gunicorn==23.0.0
numpy
pandas
scikit-learn
joblib
langchain
langchain-community
langchain-google-genai
sentence-transformers
faiss-cpu
python-dotenv
langchain
langchain-community
langchain-google-genai
faiss-cpu
pypdf 
sentence-transformers
python-dotenv
fastapi
uvicorn